/_build
/deps
erl_crash.dump
*.ez


/data

# Configs
/config

# Static artifacts
/node_modules
/bower_components

# Since we are building js and css from web/static,
# we ignore priv/static/{css,js}. You may want to
# comment this depending on your deployment strategy.
/priv/static/

# Custom templates should be ignored
/web/templates/custom/

