<rss version="2.0">
  <channel>
    <title><%= @blog_title %></title>
    <link><%= url(@conn) %></link>
    <description><%= @blog_headline %></description>
    <generator><%= @blog_name %></generator>

    <%= @inner %>
  </channel>
</rss>
